<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>ServerAdministration</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/angular.js" type="text/javascript"></script>
    <script src="/js/socket.io.js" type="text/javascript"></script>


    <script src="/js/engine/engine.js" type="text/javascript"></script>
    <script src="/js/engine/SocketController.js" type="text/javascript"></script>
    <script src="/js/engine/Dragger.js" type="text/javascript"></script>
    <script src="/js/term.js" type="text/javascript"></script>
    <script src="/js/engine/LoginController.js" type="text/javascript"></script>
    <script src="/js/engine/TerminalView.js" type="text/javascript"></script>
    <script src="/js/engine/TerminalController.js" type="text/javascript"></script>

</head>
<body ng-app="ServerAdministration">
<div class="main" ng-controller="engine">
    <div ng-if="showLogin" ng-controller="LoginController">
        <login></login>
    </div>
    <div ng-if="showTerminalController" ng-controller="TerminalController">
        <terminalcontroller></terminalcontroller>
    </div>
</div>
</body>
</html>