//functions
html5(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args

html5In(prop, sec)
    -webkit-{prop} unquote('-webkit-' + sec)
    -moz-{prop} unquote('-moz-' + sec)
    -o-{prop} unquote('-o-' + sec)
    {prop} unquote('' + sec)

//fonts
@font-face
    font-family Montserrat-Regular
    font-weight: 400;
    src url('/stylesheets/Montserrat-Regular.ttf')

@font-face
    font-family Montserrat-Bold
    font-weight: 700;
    src url('/stylesheets/Montserrat-Bold.ttf')

@font-face
    font-family Montserrat-RegularWoff
    font-weight: 400;
    src url('/stylesheets/Montserrat-Regular.woff')

@font-face
    font-family Montserrat-BoldWoff
    font-weight: 700;
    src url('/stylesheets/Montserrat-Bold.woff')

//globals
a
    color: #00B7FF;

body, input, button
    color: white;
    padding: 0px;
    font-size: 1.1em
    font-family "Montserrat-RegularWoff", "Montserrat-Regular", sans-serif
    background-color #34495e

.bold
    font-family "Montserrat-BoldWoff", "Montserrat-Bold", sans-serif
    font-weight 700;

.hide
    display none;

//login area.

@keyframes logging
    0%
        html5('transform', rotateX(1deg))
    25%
        html5('transform', rotateX(65deg))
    50%
        html5('transform', rotateX(1deg))
    75%
        html5('transform', rotateX(-65deg))
    100%
        html5('transform', rotateX(1deg))

.mainLogin
    text-align: center;
    html5('perspective', 800px)

    .successLogin
        html5('transform-style', preserve-3d)
        html5In('transition', transform .4s)
        html5('transform', rotateY(-90deg))
    .login
        box-sizing border-box
        padding 1.4em 1em;
        background-color rgba(149, 165, 166, .2)
        html5('border-radius', 5px)
        margin auto
        margin-top 4em

        input, button
            display block
            width 100%
            border 0;
            padding: 0.2em;
            box-sizing: border-box;

        input
            margin-bottom 1em
        input, button
            margin-top 0
        button
            height 2em
        input:focus, button:focus
            outline 0
        button
            html5('transform-style', preserve-3d)
            html5('transform-origin', 50% 0%)
            html5In('transition', transform .5s)
        button.logging
            html5('animation-name', logging)
            html5('animation-duration', 1.5s)
            html5('animation-iteration-count', infinite)
            html5('animation-timing-function', linear)

@media all and (max-width: 500px) and (min-width: 0px)
    .mainLogin
        .login
            width 100%;
            padding: 1.4em 0.5em

@media all and (min-width: 500px) and (max-width: 1000px)
    .mainLogin
        .login
            width 50%;
            margin-top 2em

@media all and (min-width: 1000px)
    .mainLogin
        .login
            margin-top 2em
            width 380px;

/*
@media screen and (min-device-width: 400px) and (orientation: landscape)
    .login
        width 50%
@media screen and (min-device-width: 400px) and (orientation: portrait)
    .login
        width 100%*/