@font-face {
  font-family: Montserrat-Regular;
  font-weight: 400;
  src: url("/stylesheets/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  font-weight: 700;
  src: url("/stylesheets/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-RegularWoff;
  font-weight: 400;
  src: url("/stylesheets/Montserrat-Regular.woff");
}
@font-face {
  font-family: Montserrat-BoldWoff;
  font-weight: 700;
  src: url("/stylesheets/Montserrat-Bold.woff");
}
/*
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)
    body
        font-size: 1.8em !important
*/
a {
  color: #00b7ff;
}
body,
input,
button {
  color: #fff;
  padding: 0px;
  font-size: 1.2em;
  font-family: "Montserrat-RegularWoff", "Montserrat-Regular", sans-serif;
  background-color: #34495e;
}
.bold {
  font-family: "Montserrat-BoldWoff", "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.mainLogin {
  text-align: center;
}
.mainLogin .login {
  margin: auto;
}
.mainLogin .login input,
.mainLogin .login button {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff;
}
.mainLogin .login input:focus,
.mainLogin .login button:focus {
  outline: 0;
}
@media screen and (min-device-width: 400px) and (orientation: landscape) {
  .login {
    width: 50%;
  }
}
@media screen and (min-device-width: 400px) and (orientation: portrait) {
  .login {
    width: 100%;
  }
}
