html5(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args

@font-face
    font-family Montserrat-Regular
    font-weight: 400;
    src url('/stylesheets/Montserrat-Regular.ttf')

@font-face
    font-family Montserrat-Bold
    font-weight: 700;
    src url('/stylesheets/Montserrat-Bold.ttf')

@font-face
    font-family Montserrat-RegularWoff
    font-weight: 400;
    src url('/stylesheets/Montserrat-Regular.woff')

@font-face
    font-family Montserrat-BoldWoff
    font-weight: 700;
    src url('/stylesheets/Montserrat-Bold.woff')

/*
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)
    body
        font-size: 1.8em !important
*/
a
    color: #00B7FF;

body, input, button
    color: white;
    padding: 0px;
    font-size: 1.2em
    font-family "Montserrat-RegularWoff", "Montserrat-Regular", sans-serif
    background-color #34495e

.bold
    font-family "Montserrat-BoldWoff", "Montserrat-Bold", sans-serif
    font-weight 700;

//login area.

.mainLogin
    text-align: center;

    .login
        box-sizing border-box
        padding 1.4em 1em;
        background-color rgba(149, 165, 166, .2)
        html5('border-radius', 5px);
        margin auto
        margin-top 4em
        input, button
            display block
            width 100%
            border 0;
            padding: 0.2em;
            box-sizing: border-box;
        //border-bottom 1px solid white
        input
            margin-bottom 1em
        input, button
            margin-top 0
        button
            height 2em
        input:focus, button:focus
            outline 0

@media all and (max-width: 500px) and (min-width: 0px)
    .mainLogin
        .login
            width 100%;
            padding: 1.4em 0.5em

@media all and (min-width: 500px) and (max-width: 1000px)
    .mainLogin
        .login
            width 50%;
            margin-top 2em

@media all and (min-width: 1000px)
    .mainLogin
        .login
            margin-top 2em
            width 380px;

/*
@media screen and (min-device-width: 400px) and (orientation: landscape)
    .login
        width 50%
@media screen and (min-device-width: 400px) and (orientation: portrait)
    .login
        width 100%*/