//functions
html5(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

html5In(prop, sec)
    -webkit-{prop} unquote('-webkit-' + sec)
    -moz-{prop} unquote('-moz-' + sec)
    -ms-{prop} unquote('-o-' + sec)
    -o-{prop} unquote('-o-' + sec)
    {prop} unquote('' + sec)

//fonts
@font-face
    font-family Montserrat-Regular
    font-weight: 400;
    src url('/stylesheets/Montserrat-Regular.ttf')

@font-face
    font-family Montserrat-Bold
    font-weight: 700;
    src url('/stylesheets/Montserrat-Bold.ttf')

@font-face
    font-family Montserrat-RegularWoff
    font-weight: 400;
    src url('/stylesheets/Montserrat-Regular.woff')

@font-face
    font-family Montserrat-BoldWoff
    font-weight: 700;
    src url('/stylesheets/Montserrat-Bold.woff')

//globals
animationsTime = .4s

.anim {
    -webkit-animation-duration: animationsTime;
    animation-duration: animationsTime;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

a
    color: #00B7FF;

body
    margin: 0;

body, input, button
    color: white;
    padding: 0px;
    font-size: 1.1em
    font-family "Montserrat-RegularWoff", "Montserrat-Regular", sans-serif
    background-color #34495e

.bold
    font-family "Montserrat-BoldWoff", "Montserrat-Bold", sans-serif
    font-weight 700;

.hide
    display none;

button:focus
    outline 0

//login area.

@keyframes logging
    0%
        html5('transform', rotateX(1deg))
    25%
        html5('transform', rotateX(65deg))
    50%
        html5('transform', rotateX(1deg))
    75%
        html5('transform', rotateX(-65deg))
    100%
        html5('transform', rotateX(1deg))

@keyframes openingLogin
    0%
        html5('transform', rotateY(90deg))
    100%
        html5('transform', rotateY(0deg))

@keyframes blinking
    0%
        opacity 1;
    50%
        opacity 0;

.mainLogin
    text-align: center;
    html5('perspective', 800px)

    .successLogin
        html5('transform-style', preserve-3d)
        html5In('transition', transform animationsTime)
        html5('transform', rotateY(-90deg))
    .login
        box-sizing border-box
        padding 1.4em 1em;
        background-color rgba(149, 165, 166, .2)
        html5('border-radius', 5px)
        margin auto
        margin-top 4em
        html5('animation-name', openingLogin)
        html5('animation-duration', animationsTime)
        html5('animation-iteration-count', 1)
        html5('animation-timing-function', ease)

        h1
            text-align left;
            margin 0;
            margin-bottom 0.3em
            span.cursor
                html5('animation-name', blinking)
                html5('animation-duration', 1s)
                html5('animation-iteration-count', infinite)
                html5('animation-timing-function', ease)

        input, button
            display block
            width 100%
            border 0;
            padding: 0.2em;
            box-sizing: border-box;

        input
            margin-bottom 1em
        input, button
            margin-top 0
        button
            height 2em
        input:focus, button:focus
            outline 0
        button
            html5('transform-style', preserve-3d)
            html5('transform-origin', 50% 0%)
            html5In('transition', transform animationsTime)
        button.logging
            html5('animation-name', logging)
            html5('animation-duration', 1.5s)
            html5('animation-iteration-count', infinite)
            html5('animation-timing-function', linear)

anchoHead = 40px;

@keyframes headOpen
    0%
        html5('transform', rotateX(-90deg))
    100%
        html5('transform', rotateX(0deg))

.termControll
    position relative;
    html5('perspective', 800px)
    header.close
        html5('transform-style', preserve-3d)
        html5In('transition', transform animationsTime)
        html5('transform', rotateX(-90deg))
    header.open
        html5('animation-name', headOpen)
        html5('animation-duration', animationsTime)
        html5('animation-iteration-count', 1)
        html5('animation-timing-function', ease)
    header
        html5('transform-style', preserve-3d)
        html5('transform-origin', 50% 0%)
        text-align right;
        left: 0px;
        top: 0px;
        right: 0px;
        position: fixed;
        background-color #5C97BF;
        height anchoHead;
        img
            html5('border-radius', .5em);
            cursor pointer;
            vertical-align middle;
            max-height: anchoHead;
            //max-width: anchoHead;
        button
            float: right
            border 0;
            height anchoHead;
            width anchoHead;
            cursor pointer;

        .newTerm
            background-color #22313F
        .userConfig
            background-color #5C97BF

//TerminalViewCat.

@keyframes titleOpen
    0%
        html5('transform', rotateY(90deg))
    100%
        html5('transform', rotateY(0deg))

@keyframes consoleOpen
    0%
        opacity 0;
        html5('transform', rotateX(-90deg))
    100%
        opacity 1;
        html5('transform', rotateX(0deg))

terminal
    html5('perspective', 800px)
    position absolute;
    top 50px
    left 50px;
    font-family monospace;
    font-size 13px
    .head
        html5('transform-origin', 0% 50%)
        html5('animation-name', titleOpen)
        html5('animation-duration', animationsTime)
        width 630px;
        html5('animation-iteration-count', 1)
        html5('animation-timing-function', ease)
        html5('transition', unquote('all ' + animationsTime));
        //html5('transition', opacity animationsTime)
        //html5In('transition', transform animationsTime)
        opacity 1;
        color: whitesmoke;
        background-color #22313F
        .title
            float: right
            padding 2px 5px
        .minBtn
            float left;
            cursor pointer
            padding 2px 5px

    .console
        overflow hidden
        width 630px;
        height 300px;
        html5('transform-origin', 0% top)
        html5('transition', all animationsTime)
        html5('transform-style', preserve-3d)
    .console.open
        html5('animation-name', consoleOpen)
        html5('animation-duration', animationsTime)
        html5('animation-iteration-count', 1)
        html5('animation-timing-function', ease)
    div.head.close
        //
        //html5In('transition', transform animationsTime)

        opacity 0;

    div.head.minimizing
        width 150px;
    div.console.close, div.console.closing
        opacity 0;
        html5('transform', rotateX(-90deg))

userconfig
    position fixed;
    box-sizing border-box;
    padding .4em;
    right 0px;
    width 280px;
    top anchoHead;
    figure
        padding .2em;
        margin 0
        text-align center;
        border: 0.2em dashed rgba(0, 0, 0, 0); // #0c0;
        html5('transition', all animationsTime)
        img
            max-width 60%;
            max-height  60%;
            html5('border-radius', 1em);
    figure.hover
        border-color rgba(218, 223, 225, 1);

@media all and (max-width: 500px) and (min-width: 0px)
    userconfig
        width 100%;

    .mainLogin
        .login
            width 100%;
            padding: 1.4em 0.5em

@media all and (min-width: 500px) and (max-width: 1000px)
    userconfig
        width 38%;

    .mainLogin
        .login
            width 50%;
            margin-top 2em

@media all and (min-width: 1000px)
    .mainLogin
        .login
            margin-top 2em
            width 380px;

/*
@media screen and (min-device-width: 400px) and (orientation: landscape)
    .login
        width 50%
@media screen and (min-device-width: 400px) and (orientation: portrait)
    .login
        width 100%*/