<section class="mainLogin">
    <div class="login" ng-class="{successLogin:ui.successLogin}">
        <h1 class="title">Server Admin &gt;<span class="user"></span><span class="cursor">_</span></h1>

        <form ng-submit="submit()">
            <input type="text" id="user" ng-model="user.name" placeholder="User" autocomplete="off"/>
            <input type="password" id="pass" ng-model="user.password" placeholder="Password"/>
            <button id="send" class="bold" ng-class="{logging:ui.logging}">Login</button>
            <span class="compData" ng-show="ui.compData">Complete data!</span>
            <span class="incData" ng-show="ui.incData">Incorrect User/Password!</span>
        </form>
    </div>
</section>