<div class="termControll">
    <header class="open" ng-class="{close:closing}">
        <button class="bold newTerm" ng-click="open()" title="New Terminal">&gt;_</button>


        <span class="userName">{{user.name}}</span>

        <img fallback-src="/images/profile.png" ng-src="{{user.profileImg}}" ng-click="openCfgUser()" ng-if="user.profileImg">


    </header>
    <userconfig ng-if="userConfig" class="anim"></userconfig>
    <article terminal ng-repeat="t in terminals" pid="{{t.pid}}" zindex="term"></article>


</div>