<div class="termControll">
    <header class="open" ng-class="{close:closing}">
        <button class="bold newTerm" ng-click="open()" title="New Terminal">&gt;_</button>


        <span class="userName">{{user.name}}</span>

        <img fallback-src="/images/profile.png" ng-src="{{ user.profileImg || '/images/profile.png' }}" ng-click="openCfgUser()">


    </header>
    <userconfig ng-if="userConfig" class="anim"></userconfig>
    <article terminal class="anim ng-enter" ng-repeat="t in terminals" pid="{{t.pid}}" zindex="term"></article>


</div>
